
<h1><%= @list.name %></h1>


<%# <%= @list.movies[0].title %>

<ul class="list-cards">
<% @bookmarks.each do |bookmark|%>
<li><%= bookmark.movie.title %></li>
<li><%= bookmark.movie.overview %></li>
<%= link_to "Delete",
# Wrong path for bookmark
  bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
</ul>

 <% @list.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<%# <%= @list.bookmarks[0].movie.title %>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%# DELETE THIS LIST %>
<%= link_to "Delete",
    list_path(@list),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
