<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
        <%= link_to image_tag('watchlist-logo.png', alt: "watchlist", width: 40), root_path%>
        <%= link_to 'My Lists', root_path, :class => "btn btn-light" %>


        <%= link_to "Create a list", new_list_path, :class => "btn btn-danger my-2 my-sm-0"%>
      </div>
    </nav>
    <%= yield %>
    </div>
  </body>
</html>
