<!DOCTYPE html>
<html>
  <head>
    <title>WATCHLIST GOING KRAZY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
      <div class="container">
        <%= link_to image_tag('watchlist-logo.png', alt: "watchlist", width: 40), root_path%>
        <%= link_to 'My Lists', root_path, :class => "btn btn-light" %>
        <%= link_to "Create a list", new_list_path, :class => "btn btn-danger my-2 my-sm-0"%>
      </div>
    </nav>
  <div class="hero-image lists-page">
  <div class="container hero-text center-text">
    <h1>FIND THA ULTIMATE MOVIEEES</h1>
    <p>LETS GOOOOOOO</p>
  </div>
</div>
    <%= yield %>
  </div>
  </body>
</html>
