<!DOCTYPE html>
<html>
  <head>
    <title>WATCHLIST GOING KRAZY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<div class="container full">
  <nav class="navbar navbar-light bg-light pb-4">
      <div class="container">
        <%= link_to image_tag('watchlist-logo.png', alt: "watchlist", width: 40), root_path%>
        <H2>WATCHLIST</H2>
        <%= link_to "Create a list", new_list_path, :class => "btn btn-dark rounded"%>
      </div>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
